  <div
  id="pie_chart"
  data-controller="pie-chart"
  data-pie-chart-data-value="<%= data %>"
  data-pie-chart-categories-value="<%= categories %>"
  class="border p-2"
>
  <div data-pie-chart-target="chart"></div>
</div>