  <div
  id="high_chart"
  data-controller="high-chart"
  data-high-chart-name-value="<%= name %>"
  data-high-chart-data-value="<%= data %>"
  class="border p-2"
>
  <div data-high-chart-target="chart"></div>
</div>